.headers{
	color:cyan;
	text-align:center;
	padding-bottom: 2vmin;
	margin-bottom:0px;
	font-size: 4.5vmin;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
}
#me {
	display:block;
	padding-top:0;
	margin-top:0;
	margin-left: auto;
    margin-right: auto;
	height: 22vmin;
	width: 22vmin;
	border-radius: 50%;
}
.nav {
	color: cyan;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 0%;
	margin: 0;
}
.nav a{
	padding-left: 1vmin;
	padding-right: 1vmin;
	color: cyan;
	text-decoration: none;
	font-family: "Arrial Black", Gadget, sans-serif;
	font-size: 2.5vmin;
}
.nav a:hover{
	color: white;
}
html {
    /* To make use of full height of page*/
  background-image: url(../img/back.jpg);
	background-repeat: no-repeat;
	background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/post_bg.jpg', sizingMethod='scale')";
  background-size: cover;

  min-height: 100%;
  margin: 0;
}
body {
	width:80%;
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center center;
	background-color: hsla(100,0%,0%,0.52);
	background-blend-mode: overlay;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 1%;
	margin-bottom: 1%;
}
.links {
	display: inline-block;
	margin-left: auto;
  margin-right: auto;
	height: 11vmin;
	width:11vmin;
	border-radius: 100%;
	margin-bottom: 5vmin;
}
.centerblock {
text-align: center;
}
h3 {
	color: cyan;
	padding-left: 0%;
	padding-right: 0%;
	font-size: 3.2vmin;
}
h4 {
	color: cyan;
	padding-left: 20%;
	text-indent: 3%;
	font-size: 2.6vmin;
	font-family: "Arrial Black", Gadget, sans-serif;
}
h5 {
	color: cyan;
	padding-left: 3%;
	padding-right: 5%;
	font-size: 2.5vmin;
}
#resume {
	margin-left: 10%;
}
li {
	color: cyan;
	font-size: 2.4vmin;
	list-style: decimal;
}
